<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29836264942-5gi26q2mo26t0j664m7t6ddcq24851p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29836264942-5gi26q2mo26t0j664m7t6ddcq24851p5</string>
	<key>API_KEY</key>
	<string>AIzaSyBrltT5OaCaUjJQAnFyA3EnAsSkM5SuxG8</string>
	<key>GCM_SENDER_ID</key>
	<string>29836264942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nomad.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>my-portfolio-f0434</string>
	<key>STORAGE_BUCKET</key>
	<string>my-portfolio-f0434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29836264942:ios:d0944ad7bbfdee570bfaff</string>
</dict>
</plist>